# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/

# Operating System files
.DS_Store

# Jupyter notebook checkpoints and files
.ipynb_checkpoints/
notebooks/testing/test.ipynb

# Virtual environment
env/
venv/
.venv/

data/original
data/cnn_predictions
data/predictions
data/temp_files

/notebooks/testing
/notebooks/try_raw_pipeline.ipynb
/notebooks/playground.ipynb
/notebooks/mando_pred_viz.ipynb
/notebooks/modelling.ipynb
/notebooks/WeightPrediction.ipynb

models/

data/*
!data/dataset-info-json
!data/ProcessedSubjects/
!data/cnn_predictions/
data/lstm_training_data/


data/cnn_predictions/*
!data/cnn_predictions/complete


data/ProcessedSubjects/*
!data/ProcessedSubjects/for_predictions
data/ProcessedSubjects/for_predictions/*
!data/ProcessedSubjects/for_predictions/full_imu

!data/ProcessedSubjects/MajorityLabel/
data/ProcessedSubjects/MajorityLabel/*
!data/ProcessedSubjects/MajorityLabel/sessions/
data/ProcessedSubjects/MajorityLabel/sessions/*
!data/ProcessedSubjects/MajorityLabel/sessions/grav_n_med/
data/ProcessedSubjects/MajorityLabel/sessions/grav_n_med/*
!data/ProcessedSubjects/MajorityLabel/sessions/grav_n_med/full_std_3/
!data/ProcessedSubjects/MajorityLabel/sessions/timestamps