# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/

# Operating System files
.DS_Store

# Jupyter notebook checkpoints and files
.ipynb_checkpoints/
notebooks/test.ipynb

# Virtual environment
env/
venv/
.venv/

data/

/notebooks/test.ipynb