# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/

# Operating System files
.DS_Store

# Jupyter notebook checkpoints and files
.ipynb_checkpoints/
notebooks/test.ipynb

# Virtual environment
env/
venv/
.venv/

data/lstm_training_data
data/processed.nosync
data/ProcessedSubjects
data/bite_gt.pkl
data/bite_gt_1.pkl
data/mm_gt.pkl
data/cnn_predictions/predictions_1.pkl
data/FIC.pkl
data/cnn_predictions

/notebooks/test.ipynb

models/

data/predictions